*,
::before,
::after {
  box-sizing: border-box;
}

/*Font import*/
/* @import url(""); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

@font-face {
  font-family: basquiat;
  src: url(/Fonts/BASQUIAT.otf);
}

:root {
  /*colours*/
  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(0, 0%, 100%); /* 30% */
  --accent: hsl(0, 99%, 51%); /* 10% */

  /*fonts*/
  font-size: 62.5%; /* 10px on default browser settings */
  /*font-size: 100%; /* 16px */
  --font-color: var(--secondary);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background: var(--primary);
  font-family: "Roboto Condensed", sans-serif;
  color: var(--font-color);
  font-size: 1.6rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  max-width: 40em;
  margin: 0;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  color: var(--primary);
  background: var(--accent);
  border: var(--border);
  border-radius: var(--borderRadius);
  font-family: var(--headingFont);
  letter-spacing: var(--letterSpacing);
  padding: 1rem;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  /* Prevent selecting the text */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.btn:hover {
  background: var(--primary);
  color: var(--accent);
}

aside {
  position: fixed;
  right: 0;
  border-left: 1px solid var(--secondary);
  width: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

aside a {
  text-decoration: none;
  color: var(--secondary);
}

aside p {
  writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  font-size: 2.5rem;
  text-decoration: line-through;
}

aside p:hover {
  text-decoration: none;
  cursor: pointer;
}

#container {
  height: 100%;
  width: calc(100% - 4rem);
  overflow: hidden;
}

#landing {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.landingGifs {
  width: 100%;
  height: 60%;
  border-bottom-left-radius: 280px;
  border-bottom-right-radius: 280px;
  background-image: url(/Images/landingPlaceholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: landingGif 8s linear infinite;
  pointer-events: none;
}

@keyframes landingGif {
  0% {
    background-image: url(/Images/landingGif.gif);
  }
  50% {
    background-image: url(/Images/landingGif1.gif);
  }
  100% {
    background-image: url(/Images/landingGif2.gif);
    background-position: top;
  }
}

.landingLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Images/layerOne.gif);
  background-size: 105%;
  pointer-events: none;
}

.landingText {
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.landingText div {
  padding-left: 5px;
}

.landingText div h2 {
  font-size: clamp(4rem, 9vw, 14rem);
  line-height: 0.1;
}

.landingText div:nth-of-type(3) {
  width: 55%;
}

.landingText div:nth-of-type(4) {
  width: 45%;
  text-align: right;
  padding-right: 5px;
}

.landingText div:nth-of-type(2) h2,
.landingText div:nth-of-type(3) h2,
.landingText div:nth-of-type(6) h2 {
  font-family: basquiat;
  font-weight: 800;
  font-size: clamp(4rem, 14vw, 20rem);
}

.landingText div:nth-of-type(1) h2,
.landingText div:nth-of-type(4) h2,
.landingText div:nth-of-type(5) h2 {
  letter-spacing: -4px;
}

#earlyLife {
  width: 100%;
  height: 130vh;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.lifeLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Images/layerOne.gif);
  background-size: 160%;
  pointer-events: none;
  z-index: 4;
}

.lifeLayerTwo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Images/layerTwoGifSmall.gif);
  background-size: 134%;
  pointer-events: none;
  z-index: 5;
  mix-blend-mode: difference;
}

.carHitGif {
  position: absolute;
  bottom: -2rem;
  left: 30%;
  width: 280px;
  height: 190px;
  background-image: url(/Images/carGif.gif);
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1);
}

.carHitGif:hover {
  filter: invert(0);
}

.lifeCrown {
  position: absolute;
  top: -10rem;
  left: 25rem;
  width: 32rem;
  height: 40rem;
  pointer-events: none;
  z-index: 2;
}

.lifeCrownImg {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.crownImage {
  height: 35rem;
  animation: slideTube 0.8s steps(6) infinite;
}

@keyframes slideTube {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.lifeBigImg {
  top: 10rem;
  left: 10rem;
  width: 50rem;
  height: 70rem;
  background-image: url(/Images/lifeImg.jpeg);
  background-size: cover;
  z-index: 1;
  transform: scaleX(-1);
}

.lifeBigImg,
.lifeSmallImg,
.lifeSmallImgTwo,
.lifePainting {
  position: absolute;
  background-repeat: no-repeat;
}

.lifeSmallImg {
  top: 24rem;
  right: 0rem;
  width: 20rem;
  height: 35rem;
  background-image: url(/Images/youngJMB.jpeg);
  background-size: 120%;
  background-position: -260% center;
}

.lifeSmallImgTwo {
  top: 64rem;
  left: 15rem;
  width: 20rem;
  height: 30rem;
  background-image: url(/Images/youngJMB.jpeg);
  background-size: 170%;
  background-position: 100% top;
  z-index: 2;
}

.lifePainting {
  top: 54rem;
  right: 5rem;
  width: 35rem;
  height: 52rem;
  background-image: url(/Images/lifeJMB.jpg);
  background-size: cover;
}

.lifeTxt {
  width: 45%;
  height: 60%;
  z-index: 5;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  pointer-events: none;
}

.lifeTxt p {
  font-size: clamp(1.4rem, 1.6vw, 2rem);
}

.lifeTxt p:nth-of-type(2) {
  max-width: 35ch;
}

.lifeJmbTxt {
  position: absolute;
  bottom: 2rem;
  left: 10%;
}

.lifeJmbTxt p {
  font-family: basquiat;
  font-size: 10rem;
  line-height: 0.6;
  color: hsla(0, 0%, 100%, 0.384);
}

#street {
  position: relative;
  height: 80vh;
  width: 100%;
}

.streetLayerOne {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Images/layerOne.gif);
  background-size: cover;
  pointer-events: none;
  z-index: 4;
}

.streetLayerTwo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Images/layerTwoGifFull.gif);
  background-size: cover;
  background-position: left center;
  pointer-events: none;
  z-index: 5;
  mix-blend-mode: difference;
}

.streetIntro {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-top: 10rem;
}

.streetIntroCrown {
  padding: 1.5rem;
  margin-right: 0.8rem;
  width: 30px;
  height: 30px;
  background-image: url(/Images/wcrown.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.streetIntro p {
  font-size: clamp(1.2rem, 1vw, 1.8rem);
}

.streetMain h3 {
  font-size: clamp(2.9rem, 5vw, 6.3rem);
  line-height: 1;
}

.streetGifContainer {
  width: 100%;
  height: 50vw;
}

.streetGif {
  width: 100%;
  height: 100%;
  background-image: url(/Images/streetGif.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#fame {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#fame .streetLayerTwo {
  background-image: url(/Images/layerTwoGifSmall.gif);
  transform: rotate(180deg);
}

#fame .streetIntro {
  margin-top: 0;
}

#fame .streetIntro p {
  text-align: right;
}

#fame .streetIntroCrown {
  margin-left: 0.8rem;
}

#rise {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  padding: 5rem 0rem 5rem 2rem;
}

.risePainting {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.risePainting img {
  width: 90%;
  object-fit: cover;
}

.lifePainting:hover,
.riseTxtImg img:hover,
.risePainting img:hover {
  z-index: 77;
  transform: scale(1.1);
}

.riseGifTxt {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.riseGif {
  width: 70%;
  height: 60%;
  background-image: url(/Images/JMBGIF.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(17deg);
  filter: contrast(200%) brightness(60%);
}

.riseGif div {
  width: 100%;
  height: 100%;
  animation: riseRedOverlay 2s infinite;
}

.riseGif div:hover {
  background: none;
  animation: none;
}

@keyframes riseRedOverlay {
  0% {
    background: rgba(179, 0, 0, 0.575);
  }
  49% {
    background: rgba(179, 0, 0, 0.575);
  }
  50% {
    background: none;
  }
  51% {
    background: rgba(179, 0, 0, 0.575);
  }

  56% {
    background: none;
  }
  57% {
    background: rgba(179, 0, 0, 0.575);
  }
  77% {
    background: none;
  }
  78% {
    background: rgba(179, 0, 0, 0.575);
  }
  100% {
    background: rgba(179, 0, 0, 0.575);
  }
}

.riseTxtImg {
  width: 30%;
  height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.riseTxtImg img {
  width: 60%;
  object-fit: cover;
}

.riseImg {
  width: 100%;
  height: 25%;
  background-image: url(/Images/riseJMB.jpg);
  background-position: center;
  background-size: 100%;
}

.travelCrowns {
  width: 100%;
  height: 8vw;
  margin-bottom: 4rem;
}

.travelingCrowns {
  width: 100%;
  height: 100%;
  background-image: url(/Images/whiteCrownStrip.png);
  background-size: contain;
  background-position: center;
  object-fit: cover;
}

.riseVideo {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.riseVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#final {
  width: 100%;
  height: max-content;
  padding: 10vh 0;
  position: relative;
}

#final .lifeLayerTwo,
#final .streetLayerOne {
  transform: rotate(180deg);
}

#final h4 {
  font-size: clamp(1.4rem, 2vw, 2.3rem);
}

.finalTxtImg {
  width: 100%;
  display: flex;
  padding: 4rem 6rem;
}

.finalTxtImgCont {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.finalTxtImg h4 {
  width: 100%;
  text-align: center;
  padding-top: 14rem;
  font-family: basquiat;
  font-size: clamp(2.2rem, 2.5vw, 3rem) !important;
}

.finalTxtImg h4:nth-of-type(1) {
  padding-right: 3rem;
}

.finalTxtImg h4:nth-of-type(2) {
  padding-top: 0;
  padding-left: 3rem;
}

.finalImg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.finalImg img {
  width: 80%;
  z-index: 4;
}

#years {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
}

.yearsGif {
  width: 50%;
  height: 100%;
  display: grid;
  place-content: center;
  background-image: url(/Images/warholImg.png);
  background-size: 50%;
}

.yearsImg {
  width: 50%;
  height: 100%;
}

.yearsImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.yearsMidTxt h4 {
  position: absolute;
  top: 48%;
  left: 43%;
  font-family: basquiat;
  font-size: 6rem;
  animation: cabezas 3s steps(1) infinite;
  opacity: 0;
  background-image: url(/Images/cabezasBg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.yearsMidTxt h4:nth-of-type(1) {
  font-size: 6.9rem;
  width: 270px;
  text-align: center;
}

.yearsMidTxt h4:nth-of-type(2) {
  animation-delay: 1s;
  width: 200px;
  text-align: center;
}

.yearsMidTxt h4:nth-of-type(3) {
  animation-delay: 2s;
  width: 300px;
  text-align: center;
  font-size: 6.5rem;
}

.yearsMidTxt h4:nth-of-type(4) {
  animation-delay: 2s;
  font-size: 8rem;
  top: 42%;
  left: 41%;
  width: 320px;
  text-align: center;
  filter: invert(1);
}

@keyframes cabezas {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#days {
  width: 100%;
  height: 50vh;
  padding: 8rem 0;
  position: relative;
  display: grid;
  grid-template:
    ". . . ."
    ". . . ."
    ". gridCrown gridCrown ."
    ". . . .";
}

#days .streetLayerOne {
  height: 50vh;
}

#days .lifeLayerTwo {
  height: 50vh;
}

#days div {
  height: fit-content;
}

.gridCrown {
  grid-area: gridCrown;
  display: flex;
  justify-content: end;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: right;
}

.gridCrown .streetIntroCrown {
  margin: 0 0.8rem;
}

#days h3 {
  font-size: 5rem;
  font-size: clamp(1.6rem, 3.6vw, 5.2rem);
}

#days .jmbFont {
  font-family: basquiat;
  font-size: 8rem;
  font-size: clamp(2.4rem, 5.5vw, 8rem);
  line-height: 0.6;
  text-align: right;
}

#days .daysAlign {
  text-align: right;
}

#days .daysBAlign h3 {
  text-align: left;
}

#death {
  width: 100%;
  height: 100vh;
  position: relative;
}

#death img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

#death img:nth-of-type(1):hover {
  z-index: 55;
}

#death img:nth-of-type(3) {
  animation: deathIMG 3s infinite step-end alternate-reverse;
  z-index: 3;
  pointer-events: none;
}

#death img:nth-of-type(2) {
  animation: deathIMG 3s infinite step-end alternate;
  z-index: 3;
  pointer-events: none;
}

@keyframes deathIMG {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0.5;
  }
  19% {
    opacity: 0;
  }

  47% {
    opacity: 0.8;
  }
  49% {
    opacity: 0;
  }
  71% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#obituary {
  padding: 4rem 0 3rem 1rem;
  display: grid;
  grid-template:
    "oneH ."
    "one two" 1.5fr
    "threeH ."
    "three four" 1fr /
    1.5fr 1fr;
  position: relative;
}

.obGIF {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 140px;
  height: 300px;
  background-image: url(/Images/obGIF.gif);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  animation: obGIF 22s linear infinite;
  opacity: 0;
}

@keyframes obGIF {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#obituary p {
  max-width: max-content;
  mix-blend-mode: difference;
}

.obOne {
  grid-area: one;
}

.obOneH {
  grid-area: oneH;
}

.obTwo {
  grid-area: two;
}

.obTwo p:nth-of-type(1) {
  margin-bottom: 1rem;
}

.obThree {
  grid-area: three;
}

.obThreeH {
  grid-area: threeH;
}

.obFour {
  grid-area: four;
}

#gallery {
  width: 100%;
  height: 80vh;
  position: relative;
}

.grayBg {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  background: rgb(46, 46, 46);
  z-index: 1;
  border-radius: 300px;
}

.galleryImgs {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.galleryImgs div:nth-of-type(1) {
  width: calc(100% / 3);
  height: 400px;
  background-image: url(/Images/gallery1.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  transform: rotate(-5deg);
}

.galleryImgs div:nth-of-type(2) {
  width: calc(100% / 3);
  height: 320px;
  background-image: url(/Images/gallery2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(5deg);
  animation: galleryImg 1.3s step-start infinite paused;
}

.galleryImgs div:nth-of-type(3) {
  width: calc(100% / 3);
  height: 350px;
  background-image: url(/Images/gallery3.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(-10deg);
  animation: galleryImg 1.3s step-start infinite paused;
}

.galleryImgs div:nth-of-type(4) {
  width: calc(100% / 4);
  height: 310px;
  background-image: url(/Images/gallery4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(3deg);
}

.galleryImgs div:nth-of-type(5) {
  width: calc(100% / 4);
  margin-top: 70px;
  height: 380px;
  background-image: url(/Images/gallery5.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(-8deg);
}

.galleryImgs div:nth-of-type(6) {
  width: calc(100% / 4);
  height: 390px;
  margin-top: 72px;
  background-image: url(/Images/gallery6.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(2deg);
  animation: galleryImg 1.3s step-start infinite paused;
}

.galleryImgs div:nth-of-type(7) {
  width: calc(100% / 4);
  height: 290px;
  background-image: url(/Images/gallery7.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(6deg);
}

.galleryImgs div:nth-of-type(1):hover,
.galleryImgs div:nth-of-type(4):hover,
.galleryImgs div:nth-of-type(5):hover,
.galleryImgs div:nth-of-type(7):hover {
  transform: rotate(0) scale(1.2);
}

.galleryImgs div:nth-of-type(2):hover,
.galleryImgs div:nth-of-type(3):hover,
.galleryImgs div:nth-of-type(6):hover {
  animation-play-state: running;
}

@keyframes galleryImg {
  0% {
    filter: invert(1);
    transform: rotate(0) translateX(10px);
  }
  20% {
    transform: rotate(0) translateX(5px) translateY(15px);
  }
  21% {
    filter: invert(0);
  }
  22% {
    filter: invert(1);
  }
  40% {
    transform: translateX(-5px) translateY(-10px);
  }
  60% {
    transform: translateX(8px) translateY(-20px);
  }
  61% {
    filter: invert(0);
  }
  62% {
    filter: invert(1);
  }
  80% {
    transform: translateX(-20px) translateY(5px);
  }
  100% {
    filter: invert(1);
  }
}

.galleryBtn {
  width: 200px;
  height: 80px;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  display: grid;
  place-content: center;
  transform: translate(-50%, 0);
  background-image: url(/Images/galleryBtnBg.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
}

.galleryBtn a {
  font-size: 2rem;
  color: rgb(46, 46, 46);
  text-decoration: none;
  filter: invert(1);
}

footer {
  width: 100%;
  height: 70vh;
  padding: 15rem 0 2rem 0;
  font-family: basquiat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.footerLine {
  width: 50%;
  height: 50px;
  background-image: url(/Images/footerLine.png);
  background-size: cover;
  background-position: center;
}

.footerLine:nth-of-type(2) {
  width: 66%;
  margin-bottom: 30rem;
}

footer .links div {
  position: absolute;
}

footer .links div p {
  font-size: 5rem;
  line-height: 0.5;
}

footer .links div:nth-of-type(1) {
  bottom: 33rem;
  left: 48rem;
}

footer .links div:nth-of-type(2) {
  bottom: 18rem;
  left: 28rem;
}

footer .links div:nth-of-type(3) {
  top: 25rem;
  right: 24rem;
}

footer .links div:nth-of-type(4) {
  bottom: 11rem;
  right: 34rem;
}

footer .links div:nth-of-type(5) {
  bottom: 28rem;
  right: 54rem;
}

footer .links div:nth-of-type(6) {
  bottom: 12rem;
  left: 54rem;
  text-align: right;
}

.copy {
  font-size: 2.5rem;
}

.copy span {
  text-decoration: line-through;
}

footer a {
  text-decoration: none;
  color: var(--secondary);
}

/* Device Breakpoints */
@media only screen and (max-width: 600px) {
  .landingText div:nth-of-type(3) {
    width: 100%;
  }

  .landingText div:nth-of-type(4) {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  aside {
    bottom: 0;
    border-left: none;
    border-top: 1px solid var(--secondary);
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    z-index: 99;
  }

  aside p {
    writing-mode: initial;
    -ms-writing-mode: initial;
    font-size: 1rem;
  }

  #container {
    height: calc(100% - 3rem);
    width: 100%;
  }

  .lifeTxt {
    top: 12rem;
    width: 65% !important;
    height: 50% !important;
    z-index: 66;
    justify-content: flex-start;
  }

  #fame {
    height: 60vh;
  }

  #final {
    height: 140vh !important;
  }

  #death {
    height: 60vh;
  }

  footer .links div:nth-of-type(6) {
    bottom: 10rem;
    left: 73%;
  }

  footer .links div:nth-of-type(5) {
    bottom: 22rem;
    right: 70%;
  }

  footer {
    padding: 15rem 0 3rem 0;
  }

  .copy {
    position: absolute;
    left: 0.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .lifePainting {
    opacity: 1 !important;
    z-index: 66;
    right: 2rem;
  }

  .lifeTxt {
    position: absolute;
    left: 1rem;
    width: 45%;
    height: 60%;
  }

  .lifeSmallImgTwo {
    display: none;
  }

  .lifeJmbTxt {
    left: 2rem !important;
  }

  .finalTxtImg {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .finalTxtImgCont {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer .links div:nth-of-type(1) {
    bottom: 38rem;
  }
}

@media only screen and (max-width: 1200px) {
  .lifeBigImg {
    opacity: 0.8;
    pointer-events: none;
  }

  .lifePainting {
    opacity: 0.8;
  }

  .lifePainting:hover {
    opacity: 1;
  }

  .lifeJmbTxt {
    bottom: -25rem;
    left: -30vw;
  }

  .lifeJmbTxt p {
    color: hsl(0, 0%, 100%);
  }
}

@media only screen and (min-width: 1200px) {
  .finalImg {
    width: 700px;
  }
}

@media only screen and (max-width: 428px) {
  #landing {
    height: 90vh;
  }

  #earlyLife {
    height: 180vh;
  }

  .lifeCrown {
    top: -8rem;
    left: 4rem;
    width: 22rem;
    height: 30rem;
  }

  .crownImage {
    height: 25rem;
  }

  .lifeBigImg {
    top: 6rem;
    left: -10rem;
    width: 38.5rem;
    height: 50rem;
  }

  .lifeSmallImg {
    z-index: 33;
  }

  .lifePainting {
    top: 65%;
    right: 10% !important;
    width: 30rem;
    height: 52rem;
  }

  .lifeTxt {
    top: 40% !important;
    width: 100% !important;
    height: max-content !important;
    z-index: 66;
    justify-content: flex-start;
  }

  .lifeJmbTxt {
    bottom: 40rem;
    left: -30vw;
  }

  .lifeJmbTxt p {
    color: hsla(0, 0%, 100%, 0.425);
    line-height: 0.5;
  }

  .carHitGif {
    bottom: 55rem;
    left: 24%;
    width: 200px;
    height: 170px;
  }

  #street {
    height: 94vh;
  }

  #fame {
    height: 72vh;
  }

  .riseTxtImg img {
    width: 80%;
    z-index: 66;
  }

  .risePainting img {
    width: 100%;
    z-index: 66;
  }

  .finalTxtImg h4 {
    padding-top: 2rem;
  }

  #years {
    height: 110vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .yearsGif {
    width: 100%;
    height: 40%;
  }

  .yearsMidTxt h4 {
    top: 43%;
    left: 10%;
  }

  .yearsMidTxt h4:nth-of-type(4) {
    top: 38%;
    left: 2%;
  }

  .yearsImg {
    width: 100%;
    height: 50%;
  }

  .yearsMidTxt {
    top: 44%;
    left: 45%;
  }

  #days {
    height: 50vh;
    padding: 4rem 0 2rem 0;
    grid-template:
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      "gridCrown gridCrown gridCrown";
  }

  .gridCrown {
    align-items: center;
  }

  #days div:nth-of-type(9) h3 {
    text-align: right;
    font-family: basquiat;
    font-size: clamp(2.4rem, 5.5vw, 8rem);
    line-height: 0.6;
  }

  #days div:nth-of-type(14) h3 {
    text-align: right;
  }

  #days div:nth-of-type(15) h3 {
    text-align: left;
  }

  #death {
    height: 40vh !important;
  }

  #obituary {
    padding: 4rem 0 3rem 1rem;
    display: grid;
    grid-template:
      "oneH"
      "one"
      "two"
      "threeH"
      "three"
      "four" /
      100%;
    gap: 1rem;
    position: relative;
  }

  .obThreeH {
    margin-top: 1.5rem;
  }

  footer .links div:nth-of-type(3) {
    right: 45%;
  }

  footer .links div:nth-of-type(2) {
    bottom: 26rem;
    left: 70%;
  }

  footer .links div:nth-of-type(4) {
    bottom: 15rem;
    right: 45%;
  }

  footer .links div:nth-of-type(1) {
    bottom: 38rem;
    left: 80%;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }

  .landingGifs {
    animation: none;
  }

  .landingLayer {
    background-image: none;
  }

  .lifeLayer {
    background-image: none;
  }

  .lifeLayerTwo {
    background-image: none;
  }

  .carHitGif {
    background-image: none;
  }

  .crownImage {
    animation: none;
  }

  .streetLayerOne {
    background-image: none;
  }

  .streetLayerTwo {
    background-image: none;
  }

  .streetGif {
    background-image: url(/Images/reducedMotionGif.png);
  }

  #fame .streetLayerTwo {
    background-image: none;
  }

  .riseGif {
    background-image: url(/Images/JMBGIFReduced.png);
  }

  .riseGif div {
    animation: none;
  }

  .galleryBtn {
    background-image: none;
  }

  .galleryBtn a {
    color: rgb(255, 255, 255);
  }

  .yearsGif {
    background-image: url(/Images/warholImg.png);
    background-size: 50%;
  }

  .yearsGif img {
    display: none;
  }
}
