body {
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 0%);
  overflow: hidden;
  position: relative;
}

div {
  width: 100%;
  height: 100%;
  background-image: url(/layerTwoGifSmall.gif);
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  position: absolute;
}

h2 {
  position: absolute;
  color: white;
  font-size: 5rem;
}
